@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gradient {
  background: radial-gradient(circle, #e9d5ff, rgba(0,0,0,0), rgba(0,0,0,0)); 
  animation: gradient 15s infinite;
}

.exp-left {
  text-align: left;
  grid-column: 1;
}

.exp-right {
  text-align: right;
  grid-column: 2;
}

.exp-left-gradient {
  animation: fade-in 5s ease-in-out;
  width: 5%;
  background: linear-gradient(to left, #ffffff, #d1d5db);
  grid-column: 2;
  
}

.exp-right-gradient {
  animation: fade-in 5s ease-in-out;
  justify-self: end;
  width: 5%;
  background: linear-gradient(to right, #ffffff, #d1d5db  );
  grid-column: 1;
  
}

.exp-left-gradient-dark {
  animation: fade-in 5s ease-in-out;
  width: 5%;
  background: linear-gradient(to left, #000, #9333ea );
  grid-column: 2;
  
}

.exp-right-gradient-dark {
  animation: fade-in 5s ease-in-out;
  justify-self: end;
  width: 5%;
  background: linear-gradient(to right, #000, #9333ea );
  grid-column: 1;
  
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split-h {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media (min-width: 1025px) {

  main,header,footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .content {
    grid-column: 2;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {

  main,header,footer {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
  }

  .content {
    grid-column: 2;
  }

}

@media (max-width: 640px) {

  main,header,footer {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
  }

  .content {
    grid-column: 2;
  }

}



